body{
    background-color: #efefef;
}
.justificado{
    justify-self: center;
}
.lista{
    
    padding-left:0;
    margin-bottom: 0;
}
.formato{
    background-color: #faf8f8;
    border: none;
    width: 18em;
    font-size: 2.5em;
    padding: 0.5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    list-style: none;
    border-bottom: 1px #f1f1f1 solid;
}
.formato:hover{
    background-color: #ffffff;
}
.formatoParrafo{
    background-color: #faf8f8;
    border: none;
    width: 18em;
    font-size: 2.5em;
    padding: 0.5em;
    list-style: none;
    border-bottom: 1px #f1f1f1 solid;

}.formatoParrafo:hover{
    background-color: #ffffff;
}
.parrafo{
    width: 18em;
    font-size: 0.5em;
    line-height: 0.25em;
	margin: 0;
    text-align: left;
}
.cruz{
    float: right;
    color: #d76f6f;
    margin-top: 0.25em;
}
.cruz:hover{
    color: #e12525;
}
.okay{
    float: right;
    color: #4ec32f;
    margin-top: 0.25em;
}
.okay:hover{
    color: #42f313;
}